*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}html,body{
  height: 100%;
  width: 100%;
}

h1{
  margin-top: 100px;
  text-align: center;
}
p{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}