*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    background-color: gray;
}


.facemood{
    height: 100%;
    width: 100%;
    background-color: red;
    padding-left: 40px;

    .video{
        
        height: 200px;
        border-radius: 40px;
        background-color: yellow;
    }

    .detect{
        height: 40px;
        width: 120px;
        border-radius: 20px;
    }
}

