*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body, #root {
    height: 100%;
    width: 100%;
    // background-color: gray; 
}


.facemood{
    
    width: 100%;
    // background-color: red;
    

    .video{
        object-fit: cover;
        
        width: 25%;
        aspect-ratio: 13/9;
        border-radius: 40px;
        border: solid 1px black;
        // background-color: yellow;
    }

    .detect{
        height: 40px;
        width: 120px;
        border-radius: 20px;
        font-size: 20px;
        border: solid 1px black;
    }
    .detect:active{
        scale: 0.9;
    }
}

